<H1> Data Science Tools and Ecosystem <H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: <br>
    1. Python <br> 
    2. R <br> 
    3. SQL

Some of the commonly used libraries used by Data Scientists include: <br>
1.Scikit-learn <br>
2.PyTorch <br>
3.TensorFlow <br>

**Objectives:** List popular languages for Data Science <br>
( - ) Python<br>
( - ) R<br>
( - ) SQL<br>

|Data Science Tools|
|---|
|1. Github|
|2. JupyterLab|
|3. RStudio|
|---|

<H3> Below are a few examples of evaluating arithmetic expressions in Python <H3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<H2>Author <H2> <br> 
 Weitao